<mat-form-field appearance="fill">
  <mat-label>Departments</mat-label>
  <mat-select
    [formControl]="departments"
    multiple
  >
    <mat-option
      *ngFor="let department of departments$ | async"
      [value]="department.departmentId"
    >
      {{department.displayName}}
    </mat-option>
  </mat-select>
</mat-form-field>
<button
  mat-button
  (click)="onSearch()"
>
  Search
</button>

<hr />

<mat-list>
  <mat-list-item *ngFor="let object of objects$ | async">
    {{ object }}
  </mat-list-item>
</mat-list>
