<mat-form-field appearance="fill">
  <mat-label>Departments</mat-label>
  <mat-select
    [formControl]="departments"
    multiple
    #select="matSelect"
  >
    <mat-option
      *ngFor="let department of departments$ | async"
      [value]="department.departmentId"
    >
      {{ department.displayName }}
    </mat-option>
  </mat-select>
</mat-form-field>
<button
  mat-flat-button
  color="primary"
  [disabled]="select.empty"
  (click)="onSearch()"
>
  Search
</button>
<button
  mat-flat-button
  color="accent"
  [disabled]="select.empty"
  (click)="onClear()"
>
  Clear
</button>
